* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #3f7ae4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html, body, #root {
  min-height: 100vh;
}

#root {
  flex-direction: column;
}