* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #3f7ae4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;


  --blue: #375a7f;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #E74C3C;
  --orange: #fd7e14;
  --yellow: #F39C12;
  --green: #00bc8c;
  --teal: #20c997;
  --cyan: #3498DB;
  /* --white: #fff; */
  --gray: #888;
  --gray-dark: #303030;
  /* --primary: #375a7f; */
  --secondary: #444;
  --success: #00bc8c;
  --info: #3498DB;
  --warning: #F39C12;
  --danger: #E74C3C;
  --light: #adb5bd;
  --dark: #303030;
}

html, body, #root {
  min-height: 100vh;
}

#root {
  flex-direction: column;
}



/* Bootstrap color fix */

.card {
  background-color: var(--gray-dark);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
  background-color: var(--secondary);
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: var(--secondary);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}